.videoCard {
    position: relative;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    scroll-snap-align:start;
    background-color: black;
    color: white;
    
}

.videoCard__player {
    object-fit: fill;
    
    width: 100%;
    height: 100%;
    
} 
/* video */
.videoCard__placeholder {
    width: 100%;
    height: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.sher{
    margin-top: 7vh;
}
.markdown-content img {
    max-width: 600px; /* Adjust to desired size */
    max-height: 200px; /* Adjust to desired size */
    object-fit: cover;
  }
  
